*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    block-size: 100vh;
}

#company-title{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    font-size: 35px;
}

.dashboard-wrapper{
    width: 50%;
    height: 10rem;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.dashboard-wrapper a{
    background-color: #DE7C7D;
    border: none;
    cursor: pointer;  
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 2rem;
    width: 100%;
    text-align: center;
}